/**
 * @file
 * Styling for the user module icons.
 */

/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-agora:before {
  background-image: url(../images/examples.svg);
}
.toolbar-bar .toolbar-icon-agora:active:before,
.toolbar-bar .toolbar-icon-agora.active:before {
  background-image: url(../images/examples.svg);
}
