.choropleth-legend {
  	color: #555;
  	padding: 6px 8px;
  	font: 12px Arial, Helvetica, sans-serif;
  	font-weight: bold;
  	background: white;
  	background: rgba(255,255,255,0.9);
  	box-shadow: 0 0 15px rgba(0,0,0,0.2);
  	border-radius: 5px;
  }
  .choropleth-legend ul {
  	list-style-type: none;
  	padding: 0;
  	margin: 0;
  	clear: both;
  }
  .choropleth-legend li {
  	display: inline-block;
  	width: 30px;
  	height: 22px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
  .choropleth-legend .min {
  	float: left;
  	padding-bottom: 5px;
  }
  .choropleth-legend .middle {
  	position: absolute;
    width: 50%;
    left: 25%;
    text-align: center;
  }
  .choropleth-legend .max {
  	float: right;
  }
}
