.marker-cluster path {
	fill: white;
	stroke: none;
}

.marker-cluster-C8 path.cross {
	fill: none;
	stroke: white;
	stroke-width: 3;
}

.marker-cluster-C11 circle {
	fill: none;
	stroke: white;
}

.marker-cluster-C11.marker-cluster-small circle.big {
	stroke-width: 11;
}

.marker-cluster-C11.marker-cluster-medium circle.big {
	stroke-width: 15;
}

.marker-cluster-C11.marker-cluster-large circle.big {
	stroke-width: 20;
}

.marker-cluster-C11 circle.target {
	stroke-width: 2;
}

.marker-cluster-digits circle {
	fill: white;
	stroke: none;
}

.marker-cluster-digits path {
	fill: white;
}

.marker-cluster-digits text {
	color: black;
	font-size: 22px;
	font-weight: bold;
}

.marker-cluster-C19.marker-cluster-animate svg {
	animation-name: rotate;
}

.marker-cluster-C8.marker-cluster-animate svg,
.marker-cluster-C11.marker-cluster-animate svg,
.marker-cluster-digits.marker-cluster-animate svg {
	animation-name: pulse;
}

.marker-cluster-animate svg {
	animation-duration: 0.5s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.marker-cluster-animate:nth-child(3n+1) svg {
	animation-delay: 0.2s;
	animation-duration: 0.7s;
}

.marker-cluster-animate:nth-child(3n+2) svg {
	animation-delay: 0.4s;
	animation-duration: 1s;
}

@keyframes pulse {
	from {
		transform: scale(1,1);
	}
	to {
		transform: scale(1.5, 1.5);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(60deg);
	}
}
