<div class="agenda-preview">
	<div class="row">
		<div class="col-md-8">
      <div class="cbpgmp cibulMap" data-oamp data-cbctl="{{ agenda.oaid }}/{{ agenda.oatoken }}" data-lang="fr" ></div>
			<p><a class="btn btn-link" href="/agenda"><i class="fa fa-calendar"></i>&emsp;Voir l&#39;agenda complet</a></p>
		</div>

		<div class="col-md-4">
      <div class="sidebar clearfix">
				<div class="list-panel">
					<ul class="list-group"></ul>
				</div>
				<div class="item-panel"></div>
				<div class="icon-panel">
            <span class="state state-refresh"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></span>
            <span class="state state-empty"><i class="fa fa-calendar-times-o fa-3x fa-fw"></i></span>
        </div>
			</div>
	</div>
</div>
